@{
    ViewData["Title"] = "Index";
}

<h4> Select Directory To Get DOCs </h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Dashboard">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon3">DocumentCollection</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3"
                       name="path" value="E:\FCAI-H\Level_4\Term_1\IR\Project\DocumentCollection">
                <input type="submit" value="submit" class="btn btn-outline-primary" />
            </div>

        </form>
    </div>
</div>

