@model IRT_Project_ASPNetMVC.Models.Matrice

@{
    ViewData["Title"] = "Index";
}

<h4>TDImatrice</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="ShowMatrice">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <input class="col-md-1" type="number" name="DOC1_Id" value="1" />
                        <input class="col-md-2" type="text" name="DOC1_Name" value="DOC1" />
                        <input class="col-md-4" type="text" name="DOC1_Text" value="This is a Simple Text for DOC1_Text." />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <input class="col-md-1" type="number" name="DOC2_Id" value="2" />
                        <input class="col-md-2" type="text" name="DOC2_Name" value="DOC2" />
                        <input class="col-md-4" type="text" name="DOC2_Text" value="This is DOC2_Text." />
                    </div>
                </div>
                <br />
                <input type="submit" value="+New Doc" class="btn btn-outline-success" />
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

